<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998437563386-vbslggj56ejocahbo9ou889av4kvv0ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998437563386-vbslggj56ejocahbo9ou889av4kvv0ge</string>
	<key>API_KEY</key>
	<string>AIzaSyALcA1NbQaa-xDXgkU8XFn0A8T7S_U-1Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>998437563386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sud.Interesting-Numbers.SignIn</string>
	<key>PROJECT_ID</key>
	<string>interestingnumberssud</string>
	<key>STORAGE_BUCKET</key>
	<string>interestingnumberssud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998437563386:ios:ba954135f59a705a9c1243</string>
</dict>
</plist>