<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOnSJyr922D8I8RHCQDUU30GahXbJbpw8</string>
	<key>GCM_SENDER_ID</key>
	<string>992162253033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sud.InterestingNumbers</string>
	<key>PROJECT_ID</key>
	<string>interestingnumbers-8bfa7</string>
	<key>STORAGE_BUCKET</key>
	<string>interestingnumbers-8bfa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992162253033:ios:f5517a8ad23f72219bc878</string>
</dict>
</plist>